.stopwatch {
  position: sticky;
  top: 0;

  /* center element and keep areas on sides clickable */
  display: inline-block;
  left: 50%;
  transform: translate(-50%); 
  text-align: center;

  /* to be on top of dropdown on picture */
  z-index: 1;
}

.value {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid #fff;
  font-size: 24px;
  font-weight: 800;
  background-color: #00000088;
  color: #fff;
}