.form {
  padding: 20px;
  background-color: var(--light-gray);
}

.form label,
.form input  {
  display: block;
}

.form input {
  background-color: var(--gray);
  color: inherit;
  margin-top: 0.5em;
  border: none;
}

.form label {
  margin: 1.5em;
  color: var(--dark-gray);
  color: inherit;
}

.form button {
  border: none;
  padding: 0.4em 1.5em;
  border-radius: 8px;
  background-color: var(--gray);
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--dark-gray);
}