@import './colors.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

a {
 text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}

#root {
  height: 100%;
}



.main-text {
  color: #fff;
}

.sub-text {
  color: #cbcbcb;
}

.drop-down {
  position: absolute;
  padding: 0.5em;
  /* background-color: #fff; */
}

.drop-down-container {
  position: relative;
}

.drop-down-container .drop-down {
  visibility: hidden;
  padding: 0;
}

.drop-down-container--on-hover:hover .drop-down,
.drop-down-container--on-focus-within:focus-within .drop-down {
  position: absolute;
  visibility: visible;
  width: 100%;
  left: 0;
  top: 100%;
}
