@import './colors.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
 text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}

#root {
  height: 100%;
}

.main-text {
  color: #fff;
}

.sub-text {
  color: #cbcbcb;
}

.drop-down {
  position: absolute;
  padding: 0.5em;
  background-color: #fff;
}

.drop-down-container {
  position: relative;
}

.drop-down-container .drop-down {
  visibility: hidden;
  padding: 0;
}

.drop-down-container--on-hover:hover .drop-down {
  position: absolute;
  visibility: visible;
  width: 100%;
  left: 0;
  top: 100%;
}
