@import './colors.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

ul, ol {
  list-style: none;
  padding: 0;
}

#root {
  height: 100%;
}

.main-text {
  color: #fff;
}

.sub-text {
  color: #cbcbcb;
}