.options {
  margin: 0;
  background-color: inherit;
  padding: 0.5em;
}
.options li {
  padding: 0.25em;
}

.options li:hover {
  background-color: var(--dark-gray);
}

.options li:first-child {
  border-top: 1px solid var(--dark-orange);
}

.leaderboard .drop-down-container {
  text-align: center;
  min-width: 200px;
  background-color: var(--gray);
  color: var(--orange);
}

.current-select {
  display: inline-block;
  padding: 0.25em;
}
