.options {
  margin: 0;
  background-color: inherit;
  padding: 0.5em;
}
.options li {
  padding: 0.25em;
}

.options li:hover {
  background-color: var(--dark-gray);
}

.options li:first-child {
  border-top: 1px solid var(--dark-orange);
}

.select {
  position: relative;
  text-align: center;
  min-width: 200px;
  background-color: var(--gray);
  color: var(--orange);
}

.current-option {
  display: inline-block;
  padding: 0.25em;
}

.dropdown {
  position: absolute;
  padding: 0.5em;
  visibility: hidden;
  padding: 0;
}

.select:hover .dropdown {
  position: absolute;
  visibility: visible;
  width: 100%;
  left: 0;
  top: 100%;
}